.title{
    font-size: 3rem;
    margin:6vh;
    border: 7px dashed rgb(1,17,160);
    border-radius: 20px;
    padding: 1vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}