  body {
    background-color: #212121;
    font-family: sans-serif;
  }

  #wrapper {
    margin: auto;
    text-align: center;
    width: 80vw;
    height: 80vh;
    background-color: #474747;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
  }
  
  .remaining {
    color: white;
    padding: 7px;
  }
  
  .guesses {
    color: white;
    padding: 7px;
  }
 
  #subt, .btn {
    background-color: #161616;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    border-style: none;
    margin-top: 30px;
  }
  
  #guessField {
    color: #000;
    width: 250px;
    height: 30px;
    font-size: 25px;
    border-style: none;
    border: 5px solid #6c6d6d;
    text-align: center;
  }
  
  #guess {
    font-size: 40px;
    margin-top: 40px;
    color: #fff;
    font-weight: 600;
  }
  
  .guesses {
    background-color: #7a7a7a;
  }
  
  
  h1 {
    background-color: #161616;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
  }
  