.container{
    border: solid 1px green;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;

    align-items: center;
}

.box{
    border: 1px solid black;
    width: 100px;
    background-color: aqua;
}