.container{
    background-color: bisque;
    height: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 1fr 30px ;

    gap: 3px;

}

.box{
    background-color: aqua;
    border: 2px solid black;
}

#box1,#box4{
    grid-column-start: 1;
    grid-column-end: 3;
}
