<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page...</h1>
    <h2> Name :  <%= user.name %> </h2>
    <h2> <%= user.email %> </h2>
    <h2> <%= user.city %> </h2>
</body>
</html>