.container{
    border: 2px solid red;
    background-color: darkkhaki;
    height: 600px;
    width: 700px;
    margin: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid black;
    background-color: darksalmon;
    height: 100px;
    width: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes circle {
    10%{
        width: 50px ;
        border-radius: 10px;
        background-color: aqua;
        transform: rotate(300deg) translate(100px,20px) ;
    }

    50%{
        width: 200px;
        border-radius: 100px;
        border: 10px dotted blue;
        background-color: lightpink;
        
    }

    100%{
        width: 100px;
        border-radius: 100px;
        border: 1px solid yellow;
        background-color: cornflowerblue;
        transform: translate(500px,200px) rotate(300deg);
    }
    
}