.container{
    background-color: yellow;
    border: 1px solid darkblue;
    height: 600px;
    width: 500px;
}

.box{
    background-color: aquamarine;
    border: 2px solid green;
    height: 100px;
    width: 100px;
    margin: 20px;
    /* transform: rotate(-45deg); */
    transition: all 2s ease;
}

.box:hover{
    background-color: coral;
    transform: rotate(360deg) translate(500px, 200px) scale(1.5);
    
}