div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    transform: perspective(10px) translateZ(-10px);
}

.scaled{
    margin-left: 200px;
    transform: perspective(50px) scaleZ(2) rotateX(1deg) rotateY(10deg);
}